.react-tabs__tab-list {
    overflow: hidden;
}

.react-tabs__tab-panel {
    /* float: left; */
    display: flex;
    flex-wrap: wrap;
}

.cards {
    background-color: rgb(255, 244, 244);
    padding: 1% 2% 1% 8%;
}

@media screen and (max-width: 550px) {
    .react-tabs__tab-panel>* {
        flex: 100%;
    }
}

@media screen and (max-width: 900px) {
    .react-tabs__tab-panel>* {
        flex: 45%;
    }
}