.btn {
    color: rgb(1, 109, 250);
    border-radius: 5px;
    border: 1px solid rgb(1, 109, 250);
    background-color: #fff;
    padding: 10px 50px;
    cursor: pointer;
}

.btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(1, 109, 250);
}